# Entorno virtual
venv/
*.env
.venv

# Archivos de configuración de la IDE
.vscode/
.idea/

# Archivos de Python compilados
*.pyc
*.pyo
*.pyd
__pycache__/

# Archivos de logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.swp
*.bak

# Dependencias de pip
pip-wheel-metadata/
*.egg-info/

# Archivos de exportación generados
*.pdf
*.csv
*.xlsx

portable
user_config.json
dist
build

# Archivos de configuración locales


